.search-bar {
  margin: 3%;
  width: 80%;
}
nav {
  background-color: darkcyan;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
}
nav h1 {
  font-weight: 700;
  font-size: 300%;
}

h2 {
  font-size: large;
  font-weight: italic;

}

.lists {
  margin-left: 3%;
  font-size: 120%;
  font-weight: 700;
}

#map {
  width: 40vw;
  height: 40vh;
  border-radius: 50px;
}

.mapboxgl-popup {
  color: black;
  font-weight: 700;
  font-size: 130%;
}
.test {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.salon-card {
    display: flex;
    flex-direction: column;
  margin: 1%;
  padding: 1%;
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;

}
.salon-name {
    font-weight: 700;
   
    color: black;
}
.salon-name:hover {
    text-decoration: underline;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.salon-address {

    color: black;
}
.salon-address:hover {
    text-decoration: underline;
}