

.search-bar {
    
    margin: 3%;
    width: 50%
}
nav {
    background-color: darkcyan;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
}
nav h1 {
    font-weight: 700;
    font-size: 300%;
}
.lists {
   
    margin-left: 3%;
    font-size: 120%;
    font-weight: 700;
}

.map {
    height: 200px;

    width: 200px;
    margin: 0 auto;
    overflow: auto;
    
}

.map:hover {
    
    width: 570px;
  height: 500px;
    padding: 10px;
    border-radius: 50px;
    transition: all 1s;
  }

  #map {
    width: 50vw;
    height: 50vh;
    border-radius: 50px;
}

.mapboxgl-popup {
    color: black;
    font-weight: 700;
    font-size: 130%;
}
.test {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.salon-card {
    margin: 1%;
    padding: 2%;
    text-align: center;
    border: 3px solid black;

    
}
.container {
    display: flex;
}