* {
  font-family: sans-serif;
}

.search-bar {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3% auto;
}

nav {
  background-color: #102847;
  height: 200px;
  display: flex;
  color: pink;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
}
nav h1 {
  font-weight: 700;
  font-size: 300%;
}
.lists {
  margin-left: 3%;
  font-size: 120%;
  font-weight: 700;
}

#map {
  width: 500px;
  height: 500px;
  border-radius: 50px;
}

.mapboxgl-popup {
  color: black;
  font-weight: 700;
  font-size: 130%;
}
.test {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.salon-card {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
}
.salon-name {
  font-weight: 700;

  color: black;
}
.salon-name:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.salon-address {
  color: black;
  font-size: 100%;
}
.salon-address:hover {
  text-decoration: underline;
}


//MEDIA QUERY
//MOBILE

@media screen and (max-width:660px) {
    nav {
        background: black;
    }


}